<h1>{{title}}</h1>

<button (click)="changeTitle()">Cambiar el título</button>
<br>

<input type="text" [(ngModel)]="cityName" (keydown.enter)="addCity()"> {{cityName}}
<button (click)="addCity()">Agregar ciudad</button>
<button (click)="emptyCities()">Eliminar ciudades</button>



<ul>
  <li *ngIf="cities.length === 0">No hay ciudades</li>
  <li *ngFor="let city of cities; index as i">{{city}} index: {{i}}
    <strong *ngIf="i === 0">Primera ciudad de la lista</strong>
    <button (click)="deleteItem(i)">Borrar ciudad</button>
    <button (click)="updateItem(i)">Actualizar ciudad</button>
  </li>
</ul>


<!--

<div *ngIf="cityName === 'Madrid'">
  es Madrid. De Madrid al cielo!!
</div>

<div *ngIf="cityName === 'Llanes'">
  ohh Llanes, que bonito es Llanes!!
</div>

-->


<div [ngSwitch]="cityName">
  <p *ngSwitchCase="'Madrid'">Es Madrid. De Madrid al cielo</p>
  <p *ngSwitchCase="'Llanes'">Ohh Llanes, que bonito es Llanes</p>
  <p *ngSwitchCase="'Ribadesella'">Ribadesella, que fiesta tiene Ribadesella!</p>
  <p *ngSwitchDefault>No se ha introducido ninguna ciudad chula</p>
</div>


